body{
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQuHoNxciSuz9ojJTf8YomhKwPlFHh6oS0c8csiQHrM912OLzxZ");
background-repeat:no-repeat;
background-attachment:fixed;
background-size:cover;
}
			
h1 {
color: maroon;
margin-left: 40px;

}

p{
color:blue;


}
